---
slug: dashboard
metadata:
  breadcrumbs:
    - label: app.dashboard
      url: /dashboard
    - label: app.feed.title
---

{% liquid
  function current_profile = 'lib/current_profile', user_id: context.current_user.id, followships: true, membership: true
  include 'lib/profile_present_or_redirect', profile: current_profile, followships: true, membership: true

  include 'lib/validate_profile_completeness', profile: current_profile

  assign template = "/dashboard/{slug}/{section}"
  assign query = context.location.pathname | extract_url_params: template

  assign section = query.section | default: 'activity'
  assign profile_id = current_profile.id | default: 'there-should-be'

  if section == 'activity'
    function list = 'lib/queries/activities/search', feed: 'user-private', feed_id: current_profile.id, limit: 100
    function presigned_url = 'lib/queries/presigned_url'
  elsif section == 'groups'
    function list = 'lib/queries/groups/search_for_member', limit: 20, name: 'membership', member_id: profile_id
  elsif section == 'following'
    function list = 'lib/queries/relationships/search', limit: 20, name: 'followship', l_id: profile_id
  elsif section == 'followers'
    function list = 'lib/queries/relationships/search', limit: 20, name: 'followship', r_id: profile_id
  elsif section == 'products'
    function list = 'lib/queries/items/search', query: context.params, limit: 20, owner: profile_id
  endif

  assign breadcrumbs = context.page.metadata.breadcrumbs
%}
<div id="titlebar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h2>My Profile</h2>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            
            {% for breadcrumb in breadcrumbs %}

            {% liquid
              assign is_translation = breadcrumb.label | slice: 0, 4

              if is_translation == 'app.'
                assign label = breadcrumb.label | t
              else
                assign label = breadcrumb.label
              endif
            %}

            <li>
              {% if forloop.last %}
                <!--<h2>-->
              {% else %}
                {% if breadcrumb.url %}
                  <a href="{{ breadcrumb.url }}">
                {% endif %}
              {% endif %}
                  {{ label }}
              {% if forloop.last %}
                {% if value %}
                    ({{ value }})
                {% endif %}
                <!--</h2>-->
              {% else %}
                {% if breadcrumb.url %}
                  </a>
                {% endif %}
                
              {% endif %}
            </li>

            {% endfor %}
          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>

{% comment %}
render 'theme/simple/ui/breadcrumbs', breadcrumbs: context.page.metadata.breadcrumbs
{% endcomment %}

{%
  include 'theme/simple/profile/private_feed', section: section, user: profile, list: list, current_profile: current_profile, presigned_url: presigned_url
}
%}
