<div class="clearfix"></div>
<section class="search margin-bottom-50">
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <!-- Title -->
      <h3 class="search-title">Search</h3>

      <!-- Form -->
      <form name="search_filter" id="search_filter" action="/quick_search" method="post">
      <div class="main-search-box no-shadow main-search-box-custom">

        <!-- Row With Forms -->
        <div class="row main-search-box-custom-check-item">
          <div class="col-xs-12">

            <div class="row margin-bottom-10">
              <div class="col-xs-12 col-md-2">
                <h4 class="margin-top-10"><strong>Keyword</strong></h4>
              </div>
              <div class="col-xs-12 col-md-10">
                <input type="text" class="ico-01" name="qkeyword" value="{{ qkeyword | raw_escape_string }}" id="qkeyword" value="" placeholder="Enter address e.g. street, city and state or zip">
              </div>
            </div>


            <div class="row margin-bottom-10">
              <div class="col-xs-12 col-md-2">
                <h4 class="margin-top-10"><strong>Desk type</strong></h4>
              </div>
              <div class="col-xs-12 col-md-10">
                <div class="checkboxes in-row">
                  <input type="checkbox" name="chk_desk" id="check-2" value="Desk" {% if ckhdesk == 'Desk' %}checked{% endif %} />
                  <label for="check-2">Desk</label>

                  <input type="checkbox" name="chk_meeting_rooms" id="check-3" value="MeetingRooms" {% if chkmeetingrooms == 'MeetingRooms' %}checked{% endif %}/>
                  <label for="check-3">Meeting Room</label>

                  <input type="checkbox" name="chk_office_space" id="check-3" value="OfficeSpace" {% if chkofficespace == 'OfficeSpace' %}checked{% endif %}/>
                  <label for="check-4">Office Space</label>

                  <input type="checkbox" name="chk_salon_booth" id="check-4" value="SalonBooth" {% if chksalonbooth == 'SalonBooth' %}checked{% endif %}/>
                  <label for="check-5">Salon Booth</label>

                  <input type="checkbox" name="chk_events" id="check-5" value="Events" {% if chkevents == 'Events' %}checked{% endif %}/>
                  <label for="check-6">Events</label>

                  <input type="checkbox" name="chk_lecture_rooms" id="check-6" value="LectureRooms" {% if chklecturerooms == 'LectureRooms' %}checked{% endif %}/>
                  <label for="check-7">Lecture Room</label>

                </div>
              </div>
            </div>
            <div class="row margin-bottom-10" style="display:none;">
              <div class="col-xs-12 col-md-2">
                <h4 class="margin-top-10"><strong>Pricing</strong></h4>
              </div>
              <div class="col-xs-12 col-md-10">
                <div class="checkboxes in-row">
                  <input type="checkbox" name="chk_per_hour" id="check-8" value="Per Hour" />
                  <label for="check-8">Per Hour</label>

                  <input type="checkbox" name="chk_per_day" id="check-9" value="Per Day" />
                  <label for="check-9">Per Day</label>

                  <input type="checkbox" name="chk_per_week" id="check-10" value="Per Week" />
                  <label for="check-10">Per Week (5 Days)</label>

                  <input type="checkbox" name="chk_per_calender_week" id="check-11" value="Per Calender Week" />
                  <label for="check-11">Per Calender Week(7 Days)</label>

                  <input type="checkbox" name="chk_per_month" id="check-12" value="Per Month" />
                  <label for="check-12">Per Month</label>

                </div>
              </div>
            </div>
            <div class="row margin-bottom-10">
              <div class="col-xs-12 col-md-2">
                <h4 class="margin-top-10"><strong>Location Type</strong></h4>
              </div>
              <div class="col-xs-12 col-md-10">
                <div class="checkboxes in-row">
                  <input type="checkbox" name="chk_business" id="check-13" value="Business" {% if chkbusiness == 'Business' %}checked{% endif %} />
                  <label for="check-13">Business</label>

                  <input type="checkbox" name="chk_co_working" id="check-14" value="Co-Working" {% if chkcoworking == 'Co-Working' %}checked{% endif %} />
                  <label for="check-14">Co-working</label>

                  <input type="checkbox" name="chk_public" id="check-15" value="Public" {% if chkpublic == 'Public' %}checked{% endif %} />
                  <label for="check-15">Public</label>

                  <input type="checkbox" name="chk_executive_suites" id="check-16" value="Executive Suites" {% if chkexecutivesuites == 'Executive Suites' %}checked{% endif %} />
                  <label for="check-16">Executive Suites</label>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="main-search-input">
                  <!--<button class="button margin-left-0">Search</button>-->
                  <!--<input name="qkeyword" id="qkeyword" type="hidden" value="{{ qkeyword | raw_escape_string }}">-->
                  <input class="button margin-left-0" type="submit" name="sub_filters" id="sub_filters" value="Submit" />
                </div>
              </div>
            </div>
          </div>
        </div>
        </form>
        <!-- Row With Forms -->


      </div>
      <!-- Box / End -->
    </div>
  </div>
</div>
</section>



<!-- Content
================================================== -->
<div class="container">
  <div class="row fullwidth-layout">

    <div class="col-md-12">
      
      <!-- Listings -->
      <div class="listings-container grid-layout-three">


      {% if records.results.size > 0 %}
        {% for model in records.results %}
          {% render 'theme/simple/quick_search/card', model: model %}
        {% endfor %}
      {% else %}
        <p class="container my-8 text-lg">{{ 'app.no_items_found' | t }}</p>
      {% endif %}


      </div>
      <!-- Listings Container / End -->

      <div class="clearfix"></div>
      <!-- Pagination -->
      <!--<div class="pagination-container margin-top-20">
        <nav class="pagination">
          <ul>
            <li><a href="#" class="current-page">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="blank">...</li>
            <li><a href="#">22</a></li>
          </ul>
        </nav>

        <nav class="pagination-next-prev">
          <ul>
            <li><a href="#" class="prev">Previous</a></li>
            <li><a href="#" class="next">Next</a></li>
          </ul>
        </nav>
      </div>-->
      <!-- Pagination / End -->

    </div>

  </div>
</div>

