<!-- Listing Item -->
<div class="carousel-item">
  <div class="listing-item">


    <a href="{% render 'link_to', comment: object.name %}" class="listing-img-container">
      <img src="{{ object.photo.url.versions.small }}" alt="">
    </a>
    
    <div class="listing-content">

      <div class="listing-title">
        <h4><a href="{% render 'link_to', comment: object.name %}">{{ object.name }}</a></h4>
        <a href="{% render 'link_to', comment: target %}" class="listing-address popup-gmaps">
          <i class="fa fa-map-marker"></i>{{ object.name }}
        </a>
      </div>

    </div>
    <!-- Listing Item / End -->

  </div>
</div>
<!-- Listing Item / End -->

