<div class="container">
  <div class="row">
  
    <div class="col-md-12">
      <h3 class="headline margin-bottom-25 margin-top-65">Newly Added</h3>
    </div>
    
    <!-- Carousel -->
    <div class="col-md-12">
      <div class="carousel">

      
            
              {% for item in feeds.items.results %}
                {% if item.type == 'category' %}

                {% else %}
                  {% render 'theme/simple/home/card', actor: item.payload.actor, target: item.payload.target, object: item.payload.object, type: item.payload.type %}
                {% endif %}
              {% endfor %}
            
       

      </div>
    </div>
    <!-- Carousel / End -->

  </div>
</div>